<div class="container">
    <div class="card">
        <h2>Login Form</h2>
        <form #myLogin = "ngForm" (ngSubmit)="Login(myLogin.value)">
            
              <p>
                <mat-form-field appearance="outline" class="field">
                  <mat-label>Email</mat-label>
                  <input type="email" name="email" [(ngModel)]="data.email" 
                  matInput placeholder="Enter Email">
                  </mat-form-field>
              </p>
              
              
              <p>
                <mat-form-field appearance="outline" class="field">
                  <mat-label>Password</mat-label>
                  <input type="password" name="pswd" [(ngModel)]="data.password" 
                   matInput placeholder="Enter Password">
                  </mat-form-field>
              </p>
              <div class="send">
                <button type="submit" mat-raised-button color="primary">Login</button>
                <button type="reset" mat-raised-button color="accent">Reset</button>
              </div>
              
        </form>
    </div>
</div>