.container{
    text-align: center;
}

.container .card 
{
    background-color: antiquewhite;
    width: 50%;
    margin: auto;
    margin-top: 10px;
}

.send button{
    margin: 10px;
}